.preview1 {
    width: 100%;
    height: 100%;
}
.preview1 .image-post {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.preview2 {
    height: 100%;
    display: flex;
    gap: 2px;
}
.preview2 .image-post {
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.preview3 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.preview3 .image-post {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.preview3 .image-post:nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.preview3 .image-post:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
}

.preview3 .image-post:nth-child(3) {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
}
.preview4 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
.preview4 .image-post {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.preview5 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}
.preview5 .image-post {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
